# See https://help.github.com/ignore-files/ for more about ignoring files.
.idea/

# python env
venv/

# production
react-frontend/build
react-frontend/yarn.lock

# misc
.DS_Store
.env

# dependencies
react-frontend/node_modules

react-frontend/npm-debug.log*
react-frontend/yarn-debug.log*
react-frontend/yarn-error.log*

