# See https://help.github.com/ignore-files/ for more about ignoring files.
./.idea
/react-frontend/yarn.lock

# python env
/venv

# dependencies
/node_modules

# testing
/coverage

# production
/react-frontend/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

