# See https://help.github.com/ignore-files/ for more about ignoring files.
./idea

# python env
/venv

# dependencies
/node_modules

# testing
/coverage

# production
/react-frontend/build
/react-frontend/yarn.lock

# misc
.DS_Store
.env
/react-frontend/npm-debug.log*
/react-frontend/yarn-debug.log*
/react-frontend/yarn-error.log*

